@require 'settings/breakpoints'

.apps-menu-grid
    display flex
    flex-wrap wrap
    width 100%
    box-sizing border-box

    +desktop()
        padding-left .5rem
        padding-right .5rem
  
.apps-menu-grid-item-wrapper
    width 33%
    aspect-ratio 1 // @stylint ignore Property is valid but unknown by stylint which is old and should be replaced

.apps-menu-grid-item
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-decoration none
    width 60%
    min-width 48px
