body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}


[role=application] {
  height: initial;
  flex: 1 100vh;
}


[role=banner] {
  --silver: #d6d8da;
  --slate-grey: #5d6165;
  --charcoal-grey: #32363f;

  display: flex;
  align-items: stretch;
  padding: .5em 2.5em .5em 1em;
  box-shadow: inset 0 -1px 0 0 var(--silver);
  font-family: Lato, sans-serif;
  font-size: 1rem;
}

[role=banner] [data-icon] {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: calc(16px + .5em)
}

[role=banner] [data-icon='icon-help'] {
  background-image: url(../assets/icons/icon-help.svg)
}

[role=banner] [data-icon='icon-logout'] {
  background-image: url(../assets/icons/icon-logout.svg)
}

[role=banner] [data-icon='icon-email'] {
  background-image: url(../assets/icons/icon-email.svg)
}

[role=banner] [data-icon='icon-cog'] {
  background-image: url(../assets/icons/icon-cog.svg)
}
