[role=banner] .coz-bar-title {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: lowercase;
  color: var(--charcoal-grey);
}

@media (max-width: 30em) {
  [role=banner] .coz-bar-title {
    font-size: 1.25em
  }
}

[role=banner] .coz-bar-title img {
  margin-right: .45em;
}

[role=banner] .coz-bar-title strong {
  padding-left: .25em;
  font-weight: bold;
}

@media (max-width: 30em) {
  [role=banner] .coz-bar-hide-sm {
    display: none;
  }

  [role=banner] .coz-bar-title strong {
    margin: 0;
    text-transform: capitalize;
  }
}

[role=banner] .coz-bar-burger {
  width: 2.5em;
  height: 2.5em;
  margin: auto .25em auto 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-position: center;
  text-indent: -9999em;
}

@media (min-width: 30.0625em) {
  [role=banner] .coz-bar-burger {
    display: none;
  }
}

/* Progress bar */
[role=banner] progress[value] {
  /* Reset the default appearance */
  appearance: none;
  background-color: #F5F6F7;
  border: solid 1px #D6D8DA;
  border-radius: 2px;
  color: #297EF2;
}

[role=banner] progress[value]::-webkit-progress-bar {
  background: #F5F6F7;
  border-radius: 2px;
}

[role=banner] progress[value]::-webkit-progress-value {
  background: #297EF2;
  border-radius: 1px;
}

[role=banner] progress[value]::-moz-progress-bar {
  background: #297EF2;
  border-radius: 1px;
}


/* Spinner */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

[role=banner] .blue-spinner {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='12' height='12' fill='%23297EF2'><path opacity='.25' d='M16 0a16 16 0 0 0 0 32 16 16 0 0 0 0-32m0 4a12 12 0 0 1 0 24 12 12 0 0 1 0-24'/><path d='M16 0a16 16 0 0 1 16 16h-4a12 12 0 0 0-12-12z'/></svg>");
    animation: 1s linear infinite spin;
}
