[role=banner] {
  position: relative;
  z-index: var(--z-index-bar);
  min-height: 3em;
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
  padding: 0 1.25em 0 1em;
  box-shadow: inset 0 -1px 0 0 var(--silver);
  font-family: Lato, sans-serif;
  font-size: 1rem;
}

@media (max-width: 48em) {
  [role=banner] {
    padding: 0 1em 0 0;
  }

  [role=banner][data-drawer-visible=true] {
    /* Force the BAR to be above selection bar in mobile mode,
     * only when drawer is opened
     */
    z-index: var(--z-index-over-selection);
  }
}

[role=banner] .coz-bar-title {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 1.5em;
  font-weight: normal;
  color: var(--charcoal-grey);
}

@media (max-width: 48em) {
  [role=banner] .coz-bar-title {
    font-size: 1.25em
  }
}

[role=banner] .coz-bar-title img {
  margin-right: .45em;
}

[role=banner] .coz-bar-title span {
  margin-right: .25em;
}

[role=banner] .coz-bar-title strong {
  font-weight: bold;
}

[role=banner] .coz-bar-title .coz-bar-beta-status {
  color: var(--cool-grey);
  text-transform: uppercase;
  font-size: .55em;
  font-style: italic;
  font-weight: 700;
}

@media (max-width: 30em) {
  [role=banner] .coz-bar-hide-sm {
    display: none;
  }

  [role=banner] .coz-bar-title strong {
    padding: 0;
    text-transform: capitalize;
  }
}

[role=banner] .coz-bar-burger {
  width: 2.5em;
  margin-right: 0.25em;
  padding: 0;
  border: none;
  background-color: transparent;
  background-position: center;
}

@media (min-width: 48.0625em) {
  [role=banner] .coz-bar-burger,
  [role=banner] .coz-drawer-wrapper {
    display: none;
  }
}


@media (max-width: 48em) {
  [role=banner] .coz-bar-hide-sm {
    display: none;
  }
}
