/**
 * TODO: Import z-index values directly from
 * https://github.com/cozy/cozy-ui/blob/v3/stylus/ui-base/z-index.styl
 */
:root {
  --z-index-bar: 20;
  --z-index-selection: 30;
  --z-index-over-selection: 31;
}


body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


[role=application] {
  display: flex;
  height: inherit;
  flex: 1 1 100vh;
  overflow-y: auto;
}


[role=banner] {
  --silver: #d6d8da;
  --slate-grey: #5d6165;
  --charcoal-grey: #32363f;
  --cool-grey: #95999d;
  --pale-grey: #f5f6f7;
  --clear-blue: #297ef2;
}


[role=banner] .coz-sep-flex {
  margin: 0;
  border: none;
  flex: 1 0;
}


[role=banner] [data-icon] {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: calc(16px + .5em)
}

[role=banner] [data-icon='icon-profile'] {
  background-image: url(../assets/icons/16/icon-people-16.svg)
}

[role=banner] [data-icon='icon-connectedDevices'] {
  background-image: url(../assets/icons/16/icon-phone-16.svg)
}

[role=banner] [data-icon='icon-help'] {
  background-image: url(../assets/icons/16/icon-question-mark-16.svg)
}

[role=banner] [data-icon='icon-logout'] {
  background-image: url(../assets/icons/16/icon-logout-16.svg)
}

[role=banner] [data-icon='icon-email'] {
  background-image: url(../assets/icons/16/icon-email-16.svg)
}

[role=banner] [data-icon='icon-storage'] {
  background-image: url(../assets/icons/16/icon-storage-16.svg)
}

[role=banner] [data-icon='icon-cog'] {
  background-image: url(../assets/icons/16/icon-cog-16.svg)
}

[role=banner] [data-icon='icon-hamburger'] {
  background-image: url(../assets/icons/16/icon-hamburger-16.svg)
}

[role=banner] [data-icon='icon-cube'] {
  background-image: url(../assets/icons/16/icon-cube-16.svg)
}
