[role=banner] .coz-sep-flex {
  margin: 0;
  border: none;
  flex: 1 0;
}


[role=banner] [data-icon] {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: calc(16px + .5em)
}

[role=banner] [data-icon='icon-profile'] {
  background-image: url(../assets/icons/16/icon-people-16.svg)
}

[role=banner] [data-icon='icon-connectedDevices'] {
  background-image: url(../assets/icons/16/icon-phone-16.svg)
}

[role=banner] [data-icon='icon-help'] {
  background-image: url(../assets/icons/16/icon-question-mark-16.svg)
}

[role=banner] [data-icon='icon-logout'] {
  background-image: url(../assets/icons/16/icon-logout-16.svg)
}

[role=banner] [data-icon='icon-storage'] {
  background-image: url(../assets/icons/16/icon-storage-16.svg)
}

[role=banner] [data-icon='icon-cog'] {
  background-image: url(../assets/icons/16/icon-cog-16.svg)
}

[role=banner] [data-icon='icon-hamburger'] {
  background-image: url(../assets/icons/16/icon-hamburger-16.svg)
}

[role=banner] [data-icon='icon-cube'] {
  background-image: url(../assets/icons/16/icon-cube-16.svg)
}

[role=banner] [data-icon='icon-claudy'] {
  background-image: url(../assets/icons/16/icon-claudy.svg)
}
