[role=banner] .coz-claudy .coz-claudy-menu {
  position: fixed;
  bottom: 9.5em;
  right: 2em;
  width: 25em;
  border-radius: .3em;
  background: white;
  transform-origin: 100% 100% 0;
  transform: scale(0) translateY(4em);
  filter: drop-shadow(0 4px 6px rgba(50, 54, 63, 0.5));
  opacity: 0;
  transition: .2s transform ease-in, .1s opacity ease-in;
}

[role=banner] .coz-claudy--opened .coz-claudy-menu {
  transform: scale(1) translateY(0);
  opacity: 1;
  transition: .2s transform cubic-bezier(0.2, 0.75, 0.3, 1.15), .1s opacity ease-in;
}

@media (min-width: 64em) {
  [role=banner] .coz-claudy .coz-claudy-menu {
    bottom: 6.5em;
  }
}

@media (max-width: 48em) {
  [role=banner] .coz-claudy .coz-claudy-menu {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    right: 1em;
    top: 1em;
    transform-origin: 50% 50% 0;
  }

  [role=banner] .coz-claudy-menu::after {
    display: none;
  }
}

[role=banner] .coz-claudy-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2em;
  padding: .75em;
  background: var(--pale-grey);
  border-radius: .3em .3em 0 0;
  border-bottom: 1px solid var(--silver);
  overflow: hidden;
}

[role=banner] .coz-claudy-menu-title {
  opacity: 1;
  transition: .2s all ease-in-out;
}

[role=banner] .coz-claudy-menu-header-back-button {
  position: absolute;
  width: 2em;
  height: 2em;
  background: url('../assets/icons/24/icon-arrow-left.svg') center / 1.5em no-repeat;
  border: none;
  cursor: pointer;
  left: 10em;
  opacity: 0;
  transition: .2s all ease-in-out;
}

[role=banner] .coz-claudy-menu--action-selected .coz-claudy-menu-title {
  transform: translateX(-50%);
  opacity: 0;
  transition: .2s all ease-in-out;
}

[role=banner] .coz-claudy-menu--action-selected .coz-claudy-menu-header-back-button {
  opacity: 1;
  left: 1em;
  transition: .2s all ease-in-out;
}

[role=banner] .coz-claudy-menu-title {
  font-size: 18px;
  margin: .4em 0 0 0;
}

[role=banner] .coz-claudy-menu-content-wrapper {
  overflow: hidden;
}

[role=banner] .coz-claudy-menu-content {
  display: flex;
  flex-direction: row;
  width: 200%; /* actions-list + action-description */
  padding: .5em 0;
  transform: translateX(0);
  transition: .2s transform ease-in-out;
}

[role=banner] .coz-claudy-menu--action-selected .coz-claudy-menu-content {
  transform: translateX(-50%);
  transition: .2s transform ease-in-out;
}

[role=banner] .coz-claudy-menu-actions-list,
[role=banner] .coz-claudy-menu-action-description {
  min-width: 50%;
  max-width: 50%;
  padding: 0;
}

[role=banner] .coz-claudy-menu::after {
  position: fixed;
  content: '';
  right: 3em;
  width: 0;
  height: 0;
  /* Make it a bit taller to avoid browser spacing issue
  between it and the tooltip */
  border-bottom: .8em solid transparent;
  border-right: 1.5em solid white;
  bottom: -.6em;
}

[role=banner] .coz-claudy-menu-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 3em;
  color: var(--dodger-blue);
  padding: .5em 1em;
}

[role=banner] .coz-claudy-menu-action:hover {
  background: var(--pale-grey)
}

[role=banner] .coz-claudy-menu-action-icon {
  height: 3em;
  width: 3em;
}

[role=banner] .coz-claudy-menu-action-title {
  padding-left: 1em;
}

[role=banner] .coz-claudy-menu-action-description-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5em 1em;
  color: black;
  font-weight: 700;
}

[role=banner] .coz-claudy-menu-action-description-header .coz-claudy-menu-action-title{
  margin: 0;
}

[role=banner] .coz-claudy-menu-action-description-content {
  padding: .5em 1em 1em 1em;
}

[role=banner] .coz-claudy-menu-action-description-text {
  margin-top: 0;
}

[role=banner] .coz-claudy-menu-action-description-button {
  width: 100%;
  margin: 0;
}
