[role=banner] .coz-claudy {
  position: fixed;
  bottom: 5em;
  right: 2em;
}

@media (min-width: 64em) {
  [role=banner] .coz-claudy {
    bottom: 2em;
  }
}

[role=banner] .coz-claudy-icon {
  width: 3.5em;
  height: 3.5em;
  border-radius: 100%;
  border: none;
  background-color: var(--dodger-blue);
  background-image: url('../assets/icons/32/icon-claudy.svg');
  background-repeat: no-repeat;
  background-size: 2.5em;
  background-position: .5em;
  box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.19), 0 6px 18px 0 rgba(50, 54, 63, 0.39);
  animation: none;
  cursor: pointer;
  opacity: .5;
  transition: all .2s ease-out;
  outline: 0;
}

[role=banner] .coz-claudy-icon:hover,
[role=banner] .coz-claudy-icon:focus,
[role=banner] .coz-claudy-icon:active,
[role=banner] .coz-claudy [data-claudy-opened=true] {
  animation: none;
  transform: scale(1.1);
  opacity: 1;
  transition: all .2s ease-out;
}

[role=banner] .coz-claudy .coz-claudy-intent-wrapper {
  position: fixed;
  bottom: 9.5em;
  right: 2em;
  width: 25em;
  border-radius: .3em;
  background: white;
  transform-origin: 100% 100% 0;
  transform: scale(0) translateY(6em);
  filter: drop-shadow(0 4px 6px rgba(50, 54, 63, 0.5));
  opacity: 0;
  transition: .2s transform ease-in, .1s opacity ease-in;
}

[role=banner] .coz-claudy--opened .coz-claudy-intent-wrapper {
  transform: scale(1) translateY(0);
  opacity: 1;
  transition: .2s transform cubic-bezier(0.2, 0.75, 0.3, 1.15), .1s opacity ease-in;
}

[role=banner] .coz-claudy-intent-wrapper::after {
  position: fixed;
  content: '';
  right: 3em;
  width: 0;
  height: 0;
  /* Make it a bit taller to avoid browser spacing issue
  between it and the tooltip */
  border-bottom: .8em solid transparent;
  border-right: 1.5em solid white;
  bottom: -.6em;
}

[role=banner] .coz-claudy .coz-claudy-intent-wrapper .coz-intent{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: .3em;
}

@media (min-width: 64em) {
  [role=banner] .coz-claudy .coz-claudy-intent-wrapper {
    bottom: 6.5em;
  }
}

@media (max-width: 48em) {
  [role=banner] .coz-claudy .coz-claudy-intent-wrapper {
    width: calc(100% - 2em);
    height: calc(100% - 2em)!important; /* overwritte intent setSize here */
    right: 1em;
    top: 1em;
    transform-origin: 50% 50% 0;
  }

  [role=banner] .coz-claudy-intent-wrapper::after {
    display: none;
  }
}
