[role=banner] .coz-drawer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Prepare for transitions */
  display: none;
  visibility: visible;
}

[role=banner] .coz-drawer-wrapper[aria-hidden=false],
[role=banner] .coz-drawer-wrapper.swipe-active {
  display: block;
}

[role=banner] .coz-drawer-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-08);
  opacity: 0;
  transition: opacity 250ms ease-out;
}

[role=banner] .coz-drawer-wrapper[aria-hidden=false]::before {
  opacity: .5;
}

[role=banner] .coz-drawer-wrapper aside {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  max-width: 30em;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transform: translateX(-100vw);
  transition: transform 500ms ease-out;
}

[role=banner] .coz-drawer-wrapper[aria-hidden=false] aside {
  transform: translateX(0);
}

[role=banner] .coz-drawer-wrapper ul {
  margin: 0;
  padding: .8em 0;
  list-style-type: none;
}

[role=banner] .coz-drawer-wrapper nav hr {
  margin: 0;
  border: none;
  border-bottom: solid 1px var(--grey-09);
}

[role=banner] .coz-drawer-wrapper .coz-nav-icon {
  margin-right: .5em;
}

[role=banner] .coz-drawer--apps {
    flex: 0 1 auto;
    overflow-y: scroll;
}

[role=banner] .coz-drawer--apps ul {
  padding: 0 0 1em 0;
  display: flex;
}

[role=banner] .coz-drawer--apps ul li {
  flex: 0 0 calc(100% /3);
  max-width: calc(100% / 3);
}

[role=banner] .coz-drawer--apps ul:last-of-type + hr {
  display: none;
}

[role=banner] .coz-drawer--apps ul.coz-nav-group--wrapping {
  flex-wrap: wrap;
}

[role=banner] .coz-drawer--apps [role=menuitem] {
  display: flex;
  flex-direction: column;
  padding: .5em 1em;
  border-radius: 2px;
}

[role=banner] .coz-drawer--apps [role=menuitem]:hover {
  background-color: rgba(25, 123, 255, 0.1);
}

[role=banner] .coz-drawer--apps li img {
  margin-bottom: .5em;
}

[role=banner] .coz-drawer--apps li p.coz-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

[role=banner] .coz-drawer--apps .coz-nav-category {
  font-size: 1em;
  padding: 0 2em;
  margin: 2em 0 .5em 0;
}
