[role=banner] .coz-drawer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
}

[role=banner] .coz-drawer-wrapper[aria-hidden=true] {
  pointer-events: none;
}

[role=banner] .coz-drawer-wrapper[aria-hidden=false] {
  pointer-events: auto;
}

[role=banner] .coz-drawer-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--charcoal-grey);
  opacity: 0;
  transition: opacity .2s ease-out .1s;
}

[role=banner] .coz-drawer-wrapper[aria-hidden=false]::before {
  opacity: .5;
  transition: opacity .2s ease-out;
}

[role=banner] .coz-drawer-wrapper aside {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  max-width: 30em;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transform: translateX(-100%);
  transform-origin: 0% 0%;
}

[role=banner] .coz-drawer-wrapper aside.with-transition {
  transition: transform .2s ease-out;
}

[role=banner] .coz-drawer-wrapper[aria-hidden=false] aside {
  transform: translateX(0%);
}

[role=banner] .coz-drawer-wrapper[aria-hidden=false] aside.with-transition {
  transition: transform .3s cubic-bezier(0.2, 0.75, 0.3, 1.0);
}

[role=banner] .coz-drawer-wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

[role=banner] .coz-drawer-wrapper nav hr {
  margin: 0;
  border: none;
  border-bottom: solid 1px var(--silver);
}

[role=banner] .coz-drawer-wrapper .coz-nav-icon {
  margin-right: .5em;
}

[role=banner] .coz-drawer--apps {
  flex: 0 1 100%;
  /* IMPORTANT: on Chrome, the `overflow-y: scroll` property on .coz-drawer--apps prevented
  swipe events to be dispatched correctly ; the `touch-action: pan-y` fixes the problem
  see https://greensock.com/forums/topic/17546-draggable-text-elements-with-overflow/ */
  overflow-y: scroll;
  touch-action: pan-y;
  position: relative;
}

[role=banner] .coz-drawer--apps .coz-nav-pop-content .coz-nav-group {
  display: flex;
  flex-direction: column;
}

[role=banner] .coz-drawer--apps ul li {
  flex: 0 0 100%;
  max-width: 100%;
}

[role=banner] .coz-drawer--apps ul:last-of-type + hr {
  display: none;
}

[role=banner] .coz-drawer--apps [role=menuitem] {
  display: flex;
  flex-direction: row;
  padding: .3em .3em .3em 1.3em;
  border-radius: 2px;
  height: 3rem;
}

[role=banner] .coz-drawer--apps .coz-nav-item img {
  width: 2rem;
  margin-right: .5rem;
  max-height: 2rem;
}


[role=banner] .coz-drawer--apps .coz-nav-category {
  font-size: 1em;
  padding: 2em 2em .5em;
  margin: 0;
}

[role=banner] .coz-drawer--settings {
  padding-bottom: env(safe-area-inset-bottom);
}

/* /!\ Trick to prevent application from scrolling in the background when the drawer is opened */
[role=banner][data-drawer-visible=true] + [role=application] {
  position: fixed;
  width: 100%;
}
