@import './base.css'
@import './indicators.css'
@import './bar.css'
@import './banner.css'
@import './nav.css'
@import './navigation_item.css'
@import './apps.css'
@import './settings.css'
@import './storage.css'
@import './drawer.css'

@import './theme.styl'

@import 'settings/z-index'
@import 'components/button.styl' // To import $visuallyhidden

:root {
  --z-index-bar: $bar-index;
  --z-index-selection: $selection-index;
  --z-index-over-selection: $selection-index + 1;
}

.coz-bar-hidden
  @extend $visuallyhidden
