@import 'base.css'
@import 'indicators.css'
@import 'bar.css'
@import 'navigation.css'
@import 'navigation_section.css'
@import 'navigation_item.css'
@import 'storage.css'
@import 'drawer.css'
@import 'claudy.css'
@import 'claudy_menu.css'
@import 'mobile_app.css'

@import 'ui-base/palette'
@import 'ui-base/mixins'
@import 'ui-base/z-index'

@import 'ui-components/button.styl'

:root {
  --z-index-bar: $bar-index;
  --z-index-selection: $selection-index;
  --z-index-over-selection: $selection-index + 1;
}

[role=banner] {
  --charcoal-grey: charcoal-grey;
  --silver: silver;
  --pale-grey: pale-grey;
  --cool-grey: cool-grey;
  --slate-grey: slate-grey;
  --dodger-blue: dodger-blue;
}

.coz-bar-hidden
  @extend $hidden

.coz-btn-close
  @extend $button
  @extend $button--close
  // built-in stylus em() from cozy-ui is not correcty supported here
  width: 32px;
  padding: 0;
  margin: 0;
