/* Spinner */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

[role=banner] [aria-busy=true] {
  position: relative;
}

[role=banner] [aria-busy=true]::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/icons/spinner.svg");
  animation: 1s linear infinite spin;
}

/* Progress bar */
[role=banner] progress[value] {
  /* Reset the default appearance */
  appearance: none;
  background-color: var(--pale-grey);
  border: solid 1px var(--silver);
  border-radius: 2px;
  color: var(--dodger-blue);
}

[role=banner] progress[value]::-webkit-progress-bar {
  background: var(--pale-grey);
  border-radius: 2px;
}

[role=banner] progress[value]::-webkit-progress-value {
  background: var(--dodger-blue);
  border-radius: 1px;
}

[role=banner] progress[value]::-moz-progress-bar {
  background: var(--dodger-blue);
  border-radius: 1px;
}

/* Errors */
[role=banner] .coz-nav--error {
  margin: 0 0 .1em 0;
  font-weight: normal;
  font-size: .875em;
  color: var(--pomegranate);
}

/* Claudy loading */
[role=banner] .coz-claudy [data-claudy-loading=true]::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: none;
  border-radius: 100%;
  border: .2em solid var(--science-blue);
  border-right: .2em solid white;
  box-sizing: border-box;
  animation: 1s linear infinite spin;
}
