/* Spinner */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Progress bar */
[role=banner] progress[value] {
  /* Reset the default appearance */
  appearance: none;
  background-color: var(--paleGrey);
  border: solid 1px var(--silver);
  border-radius: 2px;
  color: var(--dodgerBlue);
}

[role=banner] progress[value]::-webkit-progress-bar {
  background: var(--paleGrey);
  border-radius: 2px;
}

[role=banner] progress[value]::-webkit-progress-value {
  background: var(--dodgerBlue);
  border-radius: 1px;
}

[role=banner] progress[value]::-moz-progress-bar {
  background: var(--dodgerBlue);
  border-radius: 1px;
}

/* Errors */
[role=banner] .coz-nav--error {
  margin: 0 0 .1em 0;
  font-weight: normal;
  font-size: .875em;
  color: var(--pomegranate);
}
