[role=banner] .coz-nav-section {
  position: relative;
}


[role=banner] .coz-nav-section [aria-controls] {
  display: flex;
  align-items: baseline;
  padding: 1.285em 1.5em;
  font-size: .875em;
  text-transform: uppercase;
  color: var(--slate-grey);
  cursor: pointer;
}

[role=banner] [aria-controls][aria-busy]::after {
  position: relative;
  top: .12em;
  margin-left: .5em;
}

[role=banner] [aria-controls][aria-busy=true] {
  padding-right: 0;
}

[role=banner] .coz-nav-section [aria-controls][data-icon] {
  padding-left: calc(1.25em + 16px + .5em);
  background-position: 1.25em calc(50% - 1px);
}

[role=banner] .coz-nav-icon {
  margin-right: .5em;
}

[role=banner] .coz-nav-pop[aria-hidden=true] {
  display: none;
}

[role=banner] .coz-nav-pop {
  position: absolute;
  top: calc(100% - .5em);
  right: 0;
  box-sizing: border-box;
  min-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: solid 1px rgba(50, 54, 63, 0.12);
  box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.19), 0 6px 18px 0 rgba(50, 54, 63, 0.19);
}

[role=banner] .coz-nav-pop ul {
  padding: .5em 0;
}

[role=banner] .coz-nav-pop hr {
  margin: 0;
  border: none;
  border-bottom: solid 1px var(--silver);
}

[role=banner] .coz-nav-pop ul:last-of-type + hr {
  display: none;
}

/* coz-nav-pop--apps slug is hashed coz-nav-pop--1612761714 */
[role=banner] .coz-nav-pop--1612761714 .coz-nav-group {
  display: flex;
  padding: 0.75em;
}

[role=banner] .coz-nav-pop--1612761714 .coz-nav-group a {
  display: flex;
  flex-direction: column;
  padding: 1.25em;
}

[role=banner] .coz-nav-pop--1612761714 .coz-nav-group a img {
  margin-bottom: .75em;
}

[role=banner] .blurry {
  opacity: .5;
  filter: blur(5px);
}
