[role=banner] .coz-nav-section {
  position: relative;
}

[role=banner] .coz-nav-section [aria-controls] {
  display: flex;
  align-items: baseline;
  padding: 1rem 1rem;
  font-size: .875em;
  text-transform: uppercase;
  color: var(--slate-grey);
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  line-height: 1rem;
}
[role=banner] .coz-nav-section [aria-controls]:hover,
[role=banner] .coz-nav-section [aria-controls]:focus {
  background-color: var(--pale-grey);
  box-shadow: inset 0 -1px 0 0 var(--silver);
  color: var(--charcoal-grey);
}

[role=banner] [aria-controls][aria-busy]::after {
  position: relative;
  top: .12em;
  margin: 0 .355em;
  font-size: .875em;
}

[role=banner] [aria-controls][aria-busy=true] {
  padding-right: 0;
}

[role=banner] .coz-nav-section [aria-controls][data-icon] {
  padding-left: calc(1.25em + 16px + .5em);
  background-position: 1.25em calc(50% - 1px);
}

[role=banner] .coz-nav-icon {
  margin-right: .5em;
}

[role=banner] .coz-nav-pop[aria-hidden=true] {
  display: flex;
  visibility: visible;
  transform: scale(0);
  opacity: 0;
  transition: .2s transform ease-in, .1s opacity ease-in;
}

[role=banner] .coz-nav-pop {
  position: absolute;
  top: calc(100% - .5em);
  right: 0;
  box-sizing: border-box;
  min-width: 100%;
  max-height: calc(100vh - 4rem);
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 8px;
  border: solid 1px rgba(50, 54, 63, 0.12);
  box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.19), 0 6px 18px 0 rgba(50, 54, 63, 0.19);
  opacity: 1;
  transform: scale(1);
  transform-origin: 80% 0%;
  transition: .2s transform cubic-bezier(0.2, 0.75, 0.3, 1.15);
  /* hide scrollbars */
  -ms-overflow-style: none;  /* IE 10+ */
}

[role=banner] .coz-nav-pop::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

[role=banner] .coz-nav-pop ul {
  padding: 0;
}

[role=banner] .coz-nav-pop ul:last-of-type {
  border-radius: 0 0 8px 8px;
}

[role=banner] .coz-nav-pop ul:first-of-type {
  border-radius: 8px 8px 0 0;
}

[role=banner] .coz-nav-pop hr {
  margin: 0;
  border: none;
  border-bottom: solid 1px var(--silver);
}

[role=banner] .coz-nav-pop ul:last-of-type + hr {
  display: none;
}

[role=banner] .coz-nav-pop--apps .coz-nav-group:not(.coz-nav--error) {
  display: flex;
  padding: .25em;
}

[role=banner] .coz-nav-pop--apps .coz-nav-group--wrapping.coz-nav-group:not(.coz-nav--error) {
  flex-wrap: wrap;
  width: 36em;
}

@media (min-width: 48em) and (max-width: 51em) {
    [role=banner] .coz-nav-pop.coz-nav-pop--apps {
        right: -3em;
    }
}

[role=banner] .coz-nav-pop--apps .coz-nav-group:not(.coz-nav--error) .coz-nav-item {
    width: 8em;
    padding: 0 .5em;
}

[role=banner] .coz-nav-group:not(.coz-nav--error).coz-nav-group--inactive {
  background-color: var(--pale-grey)
}

[role=banner] .coz-nav-group.coz-nav--error {
  padding: 0.75em;
  min-width: 20em;
}

[role=banner] .coz-nav-pop--apps .coz-nav-group a {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

[role=banner] .coz-nav-pop--apps .coz-nav-group a img {
  margin-bottom: .75em;
}

[role=banner] .coz-nav-pop--apps .coz-nav-group a .coz-label {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 15px;
}

[role=banner] .coz-nav-pop--apps .coz-nav-category {
  font-size: 1em;
  padding: 2em 2em .5em;
  margin: 0;
}

[role=banner] .blurry {
  opacity: .5;
  filter: blur(5px);
}
