[role=banner] .coz-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

[role=banner] .coz-nav > ul {
  display: flex;
}

@media (max-width: 30em) {
  [role=banner] .coz-nav {
    display: none;
  }
}
