[role=banner] .coz-nav-item [role=menuitem] {
  display: block;
  padding: .5em 1.5em .5em calc(1.5em + 16px + .5em);
  background-position: 1.5em 50%;
  align-items: center;
  white-space: nowrap;
  color: var(--charcoal-grey);
  text-decoration: none;
}

[role=banner] [role=menuitem][aria-busy=true]::after {
  right: 1.5em;
  top: .5em;
}
