[role=banner] .coz-searchbar{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: .3em .8em .3em 2.5em;
  box-sizing: border-box;
}

[role=banner] .coz-searchbar-autosuggest-container{
  position: relative;
  width: 100%;
}
[role=banner] .coz-searchbar-autosuggest-container:before{
  content: '';
  display: inline-block;
  width: 1.6em;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url('../assets/icons/16/icon-magnifier-16.svg') .6em center no-repeat;
}

[role=banner] .coz-searchbar-autosuggest-input{
  box-sizing: border-box;
  width: 100%;
  padding: .5em;
  padding-left: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--silver);
  border-radius: 4px;
}

[role=banner] .coz-searchbar-autosuggest-input-focused{
  outline: none;
  border-color: var(--dodger-blue);
}

[role=banner] .coz-searchbar-autosuggest-suggestions-container {
	position: absolute;
	top: 100%;
	margin-top: 3px;
	width: 100%;
	max-height: em(170px);
	overflow: auto;
	border-width: 1px;
  border-style: solid;
  border-color: var(--silver);
	border-radius: 4px;
	background: white;
  box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.19), 0 6px 18px 0 rgba(50, 54, 63, 0.19);
	display: none;
}

[role=banner] .coz-searchbar-autosuggest-suggestions-container--open {
	display: block;
}

[role=banner] .coz-searchbar-autosuggest-suggestions-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

[role=banner] .coz-searchbar-autosuggest-suggestion {
	padding: .8em .5em;
  border-width: 0;
  border-bottom-width: 1px;
  border-style:  solid;
  border-color: var(--silver);
}
[role=banner] .coz-searchbar-autosuggest-suggestion:last-child {
  border-bottom-width: 0;
}

[role=banner] .coz-searchbar-autosuggest-suggestion-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

[role=banner] .coz-searchbar-autosuggest-suggestion-title {
  flex-grow: 1;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[role=banner] .coz-searchbar-autosuggest-suggestion-subtitle {
  color: var(--cool-grey);
}

[role=banner] .coz-searchbar-autosuggest-suggestion-highlighted {
	background: var(--pale-grey);
}

[role=banner] .coz-searchbar-autosuggest-section-title {
  padding: .5em;
  font-size: .8em;
}

@media (max-width: 48em) {
  [role=banner] .coz-searchbar{
    display: none;
  }
}