[role=banner] .coz-searchbar{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: .3em .8em .3em .7em;
  box-sizing: border-box;
  position: relative;
}

[role=banner] .coz-searchbar-autosuggest-container{
  position: relative;
  width: 100%;
}
[role=banner] .coz-searchbar-autosuggest-container:before{
  content: '';
  display: inline-block;
  width: 1.6em;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url('../assets/icons/16/icon-magnifier-16.svg') .6em center no-repeat;
}
[role=banner] .coz-searchbar-autosuggest-container.--searching:before{
  padding-left: .5em;
  background: url('../assets/icons/spinner.svg') center no-repeat;
  background-size: 1em;
  animation: spin 1s linear infinite;
}

[role=banner] .coz-searchbar-autosuggest-input{
  box-sizing: border-box;
  width: 100%;
  padding: .5em;
  padding-left: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  transition: all .2s ease-out;
}
[role=banner] .coz-searchbar-autosuggest-input:hover{
  border-color: var(--silver);
}
[role=banner] .coz-searchbar-autosuggest-input:focus,
[role=banner] .coz-searchbar-autosuggest-input-focused{
  outline: none;
  border-color: var(--dodger-blue);
}

[role=banner] .coz-searchbar-autosuggest-suggestions-container {
  position: absolute;
  top: 100%;
  margin-top: 3px;
  width: 100%;
  max-height: em(170px);
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--silver);
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.19), 0 6px 18px 0 rgba(50, 54, 63, 0.19);
  display: none;
}

[role=banner] .coz-searchbar-autosuggest-suggestions-container--open {
	display: block;
}

[role=banner] .coz-searchbar-autosuggest-status-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: -0.3em .8em .3em 2.5em;
  padding: .8em .5em;
  max-height: em(170px);
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--silver);
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.19), 0 6px 18px 0 rgba(50, 54, 63, 0.19);
}

[role=banner] .coz-searchbar-autosuggest-suggestions-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

[role=banner] .coz-searchbar-autosuggest-suggestions-list b {
  font-weight: bolder;
  color: var(--science-blue)
}

[role=banner] .coz-searchbar-autosuggest-suggestion {
	padding: .8em .5em;
  border-width: 0;
  border-bottom-width: 1px;
  border-style:  solid;
  border-color: var(--silver);
  cursor: pointer;
}
[role=banner] .coz-searchbar-autosuggest-suggestion:last-child {
  border-bottom-width: 0;
}

[role=banner] .coz-searchbar-autosuggest-suggestion-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

[role=banner] .coz-searchbar-autosuggest-suggestion-icon {
  max-height: 2rem;
  min-height: 2rem;
  margin-right: 1rem;
}

[role=banner] .coz-searchbar-autosuggest-suggestion-content {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}

[role=banner] .coz-searchbar-autosuggest-suggestion-subtitle {
  color: var(--cool-grey);
}

[role=banner] .coz-searchbar-autosuggest-suggestion-highlighted {
  background: var(--pale-grey);
  box-shadow: inset 4px 0 0 0 var(--dodger-blue);
}

[role=banner] .coz-searchbar-autosuggest-section-title {
  padding: .5em;
  font-size: .8em;
}

@media (max-width: 48em) {
  [role=banner] .coz-searchbar{
    display: none;
  }
}
