[role=banner] .coz-nav-settings-btn {
  color: var(--primaryTextColor);
}
[role=banner] .coz-nav-settings-btn:hover,
[role=banner] .coz-nav-settings-btn:focus {
  background-color: var(--actionColorHover);
}

[role=banner] .coz-nav-pop--settings {
  right: 0;
}

[role=banner] .coz-nav-settings-item [role=menuitem] {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 0.8rem 16px;
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--primaryTextColor);
  text-decoration: none;
  outline: none;
}

[role=banner] .coz-nav-settings-item {
  display: flex;
}

[role=banner] .coz-nav-settings-item .coz-nav-settings-item-btn[role=menuitem] > span > span {
  margin-right: auto;
}

[role=banner] .coz-nav-settings-item .coz-nav-settings-item-btn-external-icon {
  margin-left: auto;
  padding-left: 16px;
}