[role=banner] [role=menuitem][data-icon=icon-storage] {
  background-position: 1.5em calc(.8em + 1px);
}

[role=banner] .coz-nav-storage {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: .5em;
  color: var(--cool-grey);
}

[role=banner] .coz-nav-storage-text {
  margin: 0 0 .1em 0;
  font-weight: normal;
  font-size: .875em;
}

[role=banner] .cozy-nav-storage-bar {
    height: .5em;
    margin: .2em 0 .1em 0;
}
