[role=banner] .coz-support-modal .coz-support-modal-content {
  min-height: 8em;
}

[role=banner] .coz-support-modal .coz-support-intent-wrapper .coz-intent {
  width: 100%;
  height: 26em;
  border: none;
}

[role=banner] .coz-support-modal .coz-support-modal-close {
  margin-top: .7rem;
  margin-right: 1rem;
}

@media (max-width: 48em) {
  [role=banner] .coz-support-modal .coz-support-intent-wrapper .coz-intent {
    height: 28em;
  }
}
