
[role=banner] .coz-bar-wrapper
    box-shadow inset 0 -1px 0 0 var(--dividerColor)
    background-color var(--paperBackgroundColor)

    .coz-nav-apps-btns
        color var(--secondaryTextColor)

    .coz-bar-burger
        color var(--iconTextColor)
