[role=banner] .coz-bar-wrapper
    box-shadow inset 0 -1px 0 0 var(--silver)

    .coz-nav-apps-btns
        color var(--slateGrey)

    .coz-bar-burger
        color var(--coolGrey)

@media (max-width: 64em)
    [role=banner] .coz-bar-wrapper
        background-color var(--white)

@media (max-width: 48em)
    [role=banner] .coz-bar-wrapper
        &.coz-theme-primary
            box-shadow inherit
            background-color var(--primaryColor)

            .coz-nav-apps-btns,
            .coz-bar-burger
                color var(--primaryContrastTextColor)
